html, body, #container {
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	font-family: Helvetica, Arial, Sans-serif;
}

#info {
	position: fixed;
	z-index: 1;
	bottom: 0px;
	left: 0;
	color: #222;
	font-size: 12px;
	display: block;
	background: #fff;
	padding: 10px 10px 10px 0;
	width: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.4s linear;
	-o-transition: opacity 0.4s linear;
	-moz-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
}

#info b {
	font-size: 18px;
}

#info ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}

#info ul li {
	display: inline-block;
	padding: 0;
	margin: 0 0 0 10px;
}